language: python
python:
- 3.8
services:
- postgresql
install:
- psql -c 'create database django_db owner postgres;' -U postgres
- pip install -r requirements.txt
script:
- python manage.py migrate
- python manage.py test shop/tests/
deploy:
  provider: heroku
  api_key:
    secure: owv7Esbxo+qI577XwYulFhYNtBl7rL6BzUYFbt5j6xdyTV7I4LElTZLpHZ06uNFk7EhZuPO9QqBV0dAEuWx+b3pxnqpnZr2Rxeg8viCcq/0il1iQDVtQ76ORSAhweLIY9qXXXutSPNOMQZv1QK1CA2nWBcHP3ns4w853LbKDxqAZKW5RLHOR5rKYxkHidjz6pCd6minazZrh5iRuw5ym14ObG53nYqzw9t/xARu5npZIGTK2yMmBcgJbSTQxtsBjd2ny5RCXh414BknSItoHkj1qRqLF9klhRtQqsLYkOxjxkhzLZ2Z9ov9qBdzbueSut5oZtgIxDvA2cJYA3Wh10XTA7TVzNB/QlRFXyx0k5HudUW19Per7tJTAgCQik4HlHY+Sz9J5PRUtYHJ3+Exg+Me0cOo7n+m6XZDLXri0gfj7ZLVw0dbrRiSpbznvvyQFAHVMXUy+8sErglwHAvfclqt4kI9Nn6FA+HebVEalVtjtcATzi7xUrsqLO8kesHm3C3Qs3s8Qj6ZtYWHvinNq728/LYAUwCBzfbl+yVdBSO2SIgKzDnxcGXUCGZAr1zr/uXabNEUxUyO+8lYK53ZtbfY62EeEAMGZ2cqMo8A4gZGgExP7HhBoPdOc3NG58AuRekA5sRZYPNNaDrNSURMS3AeBfzxWDG5CoV5zxYZ9veo=
  app: webapp-ivanov-shop
  run: python manage.py loaddata products.yaml && python manage.py migrate
  on: master
webapp-nikitin-shop:
  api_key:
    secure: QWyHpz9oEvM+S3Jdg/eqRaoiIV47AyuFijcPgwFYPpOGAfu3SO446oIMatjbEU5DB1AA8rKQ/UT88KdDAfxqLz6g+C0Hk3YlCAGD8bsYptjt6JMdnuzxlZjfluwX7wLfRVRZIWfNes4iAAtStzt+q5Ayj1pLkQwmkfYrWtxEeZUeOl9Ha19/utYLHHT2fcy/imp+2ebjni6DkGONJT7B82dRwQ6WG5kfhbWICHMaRfowl1qJMR0tEc46Xs5+by4V4snx0/nV1hcf2VdGwT1Y071WcEBg1X1LNqijpId1IwKMYpi/dnn/I9oSt5GRten7ChHRqmTS2NJQ3xe+ss7Cfo7TYXjF/TVVdqJG7swCgHRlAaIktkjPmVOE5eyU7z85+WYVv1gkE8bh+jL015uD4YxQ4V9Xi1vK5KgQxz45yB9lgVzEHv7kMqhEZSPk7K6Hu9KxabH3x2nL2Y+oHE4vr1doy9qPvRnHNz9ZYghKmYSB0aQtmIieWjFhlEy+xzoNMfa+QifDyqCtHNrDTQRQgOQpMRWo87DjjcbmiQvPhtO7hGAelC6dMrfzEw68wfwgI1b4jtbjF3cbHSpqHAkWa9S8Dmgufzr4FtvC+FMV+peS9DPDm95NGoE4hZ48PUsH3/xgdHYnZyszz6s8ftL2TJkIjO0GPDvmKDYIdmaQo10=
558ebff0538a:
  secure: QmfnIV768L93YEcTUTfF+e9rtpIGVotNxlnIH3w+VPc2CbNCedb7ukIi2fXuEeG6lQ+IT3dywoESDanSaR6r4pgMsYHhJSGOqIYBzhJTyF+nk6YC35NMw12gsyH0UJ0v+Is/5SCXtqRFvab2X+5sKPuWpzuo6gBoVFTDVpH/V8K3QVs7RnEIgzOHRNuSYUqAHKGUVDMMeCUVsDPxIy4So6TwtgX6QBKDw8t75pplUM3BGmuazx5/gUYV/wy4QFQFGpkrGbrndG96uTKUl6ZURr6Ba8PIB3uwhk8tKPFbaYOaurAe30v+NCH8US5f3eunrNtl/Ua+Ayz4woyPaKcGX5D/8lJ2UyuyVZkW7MILQpNyF3lX7IKzGV+1VqIKxg10iiYUo8kOB7XabUEjdSeGuNZf5/ZbUpvSa1O9k6WElhqUA/uups2QiyzpL6L8CKc1zbnhDxYrnIlxkYSriKHFppntIv0G5ioU1nI+1r9pWV/ty45/wPZrI02f9XbELC5jMn8tcD6Z2WtsbhzisAs5jg/jmc+hu9GeguOldlRCp0JelxWiPYvxL7DBFGKisu1GwVSo48QCDImnJsw4f4Tr2ufeKJZ++UVsS0yyzVoni1ikbthwFpcDLdUBs6gnLpYiZ1Z+FgYUPyxpCawGNMglu0UuXWzpLJAFGR5jCNvw1ws=
