<div  style="margin-top: 5px" class="card-group">
<div class="card mb-3" style="padding-width: 600px;padding-left: 5px" xmlns="http://www.w3.org/1999/html">
  <div class="row g-0">
    <div class="col-md-5">
    <a href="Note34">
        <img src="https://i.ibb.co/zJBjYkK/1333.jpg" class="img-fluid rounded-start" >   </a>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Скидка 5%</h5>
        <p class="card-text">
          Хочешь получить скидку в 5% на первый заказ? Нажимай на картинку и покупай!
        </p>
        <p class="card-text"><small class="text-muted">Действует до 31.12.2021 (включительно)</small></p>
      </div>
    </div>
  </div>
</div>
<div  class="card mb-3" style="padding-width: 600px;padding-left: 10px" xmlns="http://www.w3.org/1999/html">
  <div class="row g-0">
    <div class="col-md-5">
    <a href="SB10">
        <img src="https://i.ibb.co/87PmXD9/BD5F6D22.jpg" class="img-fluid rounded-start" ></a>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Скидка 10%</h5>
        <p class="card-text">
          Скидка в 10% за оплату картой СберБанк. Нажимай на картинку и покупай!
        </p>
        <p class="card-text"><small class="text-muted">Действует до 31.12.2021 (включительно)</small></p>
      </div>
    </div>
  </div>
</div>
</div>

